<div class="d-flex flex-column justify-content-center align-items-center text-center">
  <h1>Welcome to AI Chat!</h1>
  <ul class="list-group">
    <% @courses.each do |course| %>
      <li class="list-group-item"><a class ="text-decoration-none" href="/courses/<%= course.id %>">
          <%= course.course_name %>
        </a></li>
    <% end %>
  </ul>
</div>
