<div class="d-flex flex-column justify-content-center align-items-center text-center">
  <h1>Welcome to <%= @course.course_name %>! Select the course's unit.</h1>
  <ul class="list-group">
    <% @course.units.each do |unit| %>
      <li class="list-group-item"><a class ="text-decoration-none" href="/units/<%= unit.id %>/">
          <%= unit.unit_name %>
        </a></li>
    <% end %>
  </ul>
</div>
